{
  "bracketSpacing": true,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": false,
  "semi": true,
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^types$",
    "^@/env(.*)$",
    "^@/api/(.*)$",
    "^@/app/(.*)$",
    "^@/asset/(.*)$",
    "^@/components/(.*)$",
    "^@/constant/ui/(.*)$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/prisma/(.*)$",
    "^@/public/(.*)$",
    "^@/query/(.*)$",
    "^@/server/(.*)$",
    "^@/types/(.*)$",
    "^@/utils/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": false,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
